<div class="container">
    <header>
        <div class="menu-items">
            <a class="menu-item">Home</a>
            <a class="menu-item">Articles</a>
            <a class="menu-item">Tags</a>
            <a class="menu-item">About Me</a>
        </div>
        <div class="theme-switcher">
            <label class="swtich">
                <input type="checkbox" [checked]="isLightTheme" (change)="onThemeSwitchChange()" />
                Current Mode: {{this.isLightTheme ? 'Light': 'Dark'}}
            </label>
        </div>
        <div class="color-switcher">
            <label class="swtich">
                <input type="checkbox" [checked]="isLightTheme" (change)="onThemeSwitchChange()" />
                Current Color Scheme: {{this.colorScheme}}
            </label>
        </div>

    </header>
    <main>
        <h1> Welcome to Hoff's Page! </h1>
    </main>
</div>
