:host{
    display: flex;
    flex-direction: column;
    flex: 1; // Stretch all body content to fit screen!
}

section {
    // !IMPORTANT! This establishes overflow for "content" sections for each component.
    height: 100%;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}
