:host{
    display: flex;
    flex-direction: column;
    flex: 1; // Stretch all body content to fit screen!
}

section {
    // !IMPORTANT! The following forces flex layout to "fill" all routed components to rest of available space in page!
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
