.container {
    display: flex;
    flex-flow: column;
    color: var(--text);

    header {
        padding: 20px 30px;
        background-color: var(--background);
        border-bottom: 1px solid var(--border-accent);
    }

    .menu-items {
        display: flex;
        gap: 15px;

        .menu-item {
            display: inline-block;
            font-size: 20px;
            color: var(--text);
            padding: 0px 15px;
            cursor: pointer;
        }
    }
}
