@use './assets/fonts/font_nunito';
@use './assets/fonts/font_roboto';
@use './assets/fonts/font_roboto_serif';
@use './assets/fonts/font_size';

//TODO: setup scss mixin/vars for h1,h2,etc. values for entire website.

$sizes: (
    font-rem-size-xxsmall: 0.45rem,
    font-rem-size-xsmall: 0.65rem,
    font-rem-size-small: 0.8rem,
    font-rem-size-normal: 1rem,
    font-rem-size-medium: 1.25rem,
    font-rem-size-large: 1.5rem,
    font-rem-size-xlarge: 1.65rem,
    font-rem-size-xxlarge: 1.75rem,
    font-rem-size-giga: 2rem,
    padding-em-small: 0.2em,
    padding-em-medium: 0.3em,
    padding-em-large: 0.4em,
    padding-em-xlarge: 1em,
    padding-em-giga: 1.25em,
    padding-em-inv-small: -0.2em,
    padding-em-inv-medium: -0.3em,
    padding-em-inv-large: -0.4em,
    padding-em-inv-xlarge: -1em,
    padding-em-inv-giga: -1.25em,
);

// Define mixin to apply theme variables
@mixin apply-root-variables($variables) {
    @each $key, $value in $variables {
        --#{$key}: #{$value};
    }
}

:root {
    @include apply-root-variables($sizes)
};
