@use 'themes';
@use 'fonts';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    // ! yes this is important to keep!
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

body {
    display: flex; // Provides flex layout options to rest of app
    font-family: var(--font-family);
    // TODO: line-height, font-size, font-color -> set root values and then "inherit" them
    //       in another css selector for button,textarea,input,select {font:iherit}
    //      NOTE: "font" is a short-hand for all typography related properties set to "inherit"
}
