<div #mainContainer class="container">
    <div class="dev-menu-toggle" (click)="onDevMenuToggle()"></div>
    <form [formGroup]="mainForm">
        <div class="theme-mode-toggle">
            <!-- TODO: make this an ICON to toggle over the checkbox -->
            <label class="swtich">
                <input type="checkbox" formControlName="themeMode" [checked]="isDarkMode" (change)="onThemeModeChange()" />
                Theme Mode: {{themeMode}}
            </label>
        </div>

        <div class="theme-switcher">
            <label>
                Theme:
                <select class="theme-switcher" formControlName="themes" (change)="onThemeSelectionChange($event)">
                    @for (theme of themeService.themes; track $index) {
                        <option [value]="theme" >{{ theme }}</option>
                    }
                </select>
            </label>
        </div>

        <div class="serif-switcher">
            <label >
                Serif Type:
                <select formControlName="serif" (change)="onSerifSelectionChange($event)">
                    @for (serif of themeService.serifs; track $index) {
                        <option [value]="serif" >{{ serif }}</option>
                    }
                </select>
            </label>
        </div>

        <div class="font-switcher">
            <label >
                Font:
                <select formControlName="font" (change)="onFontSelectionChange($event)">
                    @for (font of themeService.fonts; track $index) {
                        <option [value]="font" >{{ font }}</option>
                    }
                </select>
            </label>
        </div>

        <!-- TODO: Add a font style and weight switcher -->
    </form>
</div>
